name: Buf
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      # Run `git checkout`
      - uses: actions/checkout@v5
      # Push only the Input in `proto` to the BSR
      - uses: bufbuild/buf-action@v1
        with:
          token: ${{ secrets.BUF_TOKEN }}
