name: Buf
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v5
      - uses: bufbuild/buf-action@v1
        with:
          token: ${{ secrets.BUF_TOKEN }}
          setup_only: true # Disables default behavior.
      - if: ${{ github.event_name == 'push' }}
        run: buf push --error-format github-actions --create --git-metadata
