name: Release
on:
  push:
    branches:
      - main
jobs:
  dart:
    name: Release (dart)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1.3
      - run: dart pub get
        working-directory: ./dart
      - run: dev/dart/generate
      - run: dart test
        working-directory: ./dart
      - run: dev/dart/prepublish
      # TODO: enable this once we have an XMTP verified publisher
#      - run: dart pub publish
#        working-directory: ./dart
  js:
    name: Release (JS)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm ci
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release
  kotlin:
    name: Release (Kotlin)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project sources
      uses: actions/checkout@v3
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Validate Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Generate protobufs
      run: dev/kotlin/generate
    - name: Run build with Gradle Wrapper
      run: ./gradlew build
    - name: Set Tag
      run: |
        TAG=`echo $(git describe --tags --abbrev=0)`
        echo "GIT_TAG=${TAG#v}" >> $GITHUB_ENV
    - name: Gradle Publish
      env:
        RELEASE_VERSION: ${{ env.GIT_TAG }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
      run: ./gradlew publish