name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  js:
    name: Test (JS)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
      - run: npm ci
      - run: npm test
  kotlin:
    name: Test (Kotlin)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v5
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Generate protobufs
        run: dev/kotlin/generate
      - name: Run build with Gradle Wrapper
        run: ./gradlew build
      - name: Gradle Run Tests
        run: ./gradlew kotlin:test
  golang:
    name: Test (Golang)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v5
      - uses: actions/checkout@v5
        with:
          repository: "xmtp/xmtpd"
          path: xmtpd
      - uses: actions/setup-go@v6
      - name: Execute xmtpd protos builder
        run: |
          cd xmtpd
          shopt -s globstar
          rm -rf pkg/proto/**/*.pb.go pkg/proto/**/*.pb.gw.go pkg/proto/**/*.swagger.json
          shopt -u globstar
          go tool -modfile=tools/go.mod buf generate ../proto/
          go build ./...
